
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("Mantinia_Regular"),
    url("./fonts/Mantinia_Regular.otf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: "Light";
  text-transform: uppercase;
}